html {
  font-size: 50%;
}

body {
  top: 0 !important;
}
.side-layout {
  background-color: #f8f8f8;
  height: 100vh;
  overflow-y: auto;
  padding: 30px 30px 20px 30px;
  position: relative;
}
.Side-menu {
  height: 78vh;
  overflow-y: auto;
}
.Side-menu::-webkit-scrollbar {
  display: none;
}
.site-logo {
  text-align: center;
  padding: 20px;
}
.site-logo img {
  width: 80%;
  object-fit: cover;
}
.ant-form-item {
  margin-bottom: 8px !important;
}
.table-action {
  display: flex;
  justify-content: space-between;
}
.table-action svg {
  font-size: 22px;
}
.mobile-menu-header {
  width: 100%;
  padding: 15px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.mobile-menu-header img {
  width: 40%;
}
.ant-table-title {
  background-color: #fafafa;
}
.table-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-headers h4 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.table-btn {
  font-size: 20px;
  cursor: pointer;
}

/* STYLE GOOGLE TRANSLATE */
#google_translate_element select {
  background: #f6edfd;
  color: #383ffa;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
  position: absolute;
  top: 5px;
  right: 30px;
}

/*google translate link | logo */
.goog-logo-link {
  display: none !important;
  border: 1px solid red;
}
.goog-te-gadget {
  color: transparent !important;
}
.goog-te-gadget img,
a {
  display: none !important;
}

/* google translate banner-frame */
.goog-te-banner-frame {
  display: none !important;
  border: 1px solid red;
}
body iframe {
  /* display: none !important; */
}
#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .side-layout {
    height: calc(100vh - 60px);
    padding: 30px 10px 20px 10px;
  }
  .table-headers {
    margin-bottom: 10px;
  }
  .table-headers h4 {
    font-size: 20px;
  }
  .table-headers button {
    transform: scale(0.8);
    transform-origin: 100%;
  }
  .table-action svg {
    font-size: 18px;
  }
}

.nav-bar {
  display: flex;
  align-content: center;
  margin-bottom: 20px;
  position: relative;
}

.title {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.title > h1 {
  font-size: 30px;
}

.title > h3 {
  font-size: 20px;
}

.actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
}

.language-selector {
  margin-right: 30px;
  border: none;
  padding: 5px 10px;
  background: #f6edfd;
  color: #383ffa;
  border-radius: 3px;
  padding: 6px 8px;
}

.user-avatar {
  width: 35px;
  height: 35px;
  background-color: rgb(216, 216, 216);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  z-index: unset;
  cursor: pointer;
}

.user-info {
  position: absolute;
  right: 0px;
  top: 40px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(216, 216, 216, 0.4);
  backdrop-filter: blur(200px);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.user-info > .user-avatar {
  width: 45px;
  height: 45px;
}

.user-title {
  font-size: 18px;
  margin: 5px 0;
}

.user-tag {
  font-size: 14px;
  opacity: 80%;
}

.logout {
  margin-top: 20px;
  border: none;
  background-color: #0d6efd;
  padding: 10px 30px;
  color: white;
  border-radius: 15px;
}

@media screen and (max-width: 950px) {
  .title {
    margin: 0;
    text-align: unset;
  }
}

@media screen and (max-width: 768px) {
  .title {
    margin: 0 auto;
    text-align: center;
  }

  .side-layout {
    position: static;
  }

  .nav-bar {
    position: static;
  }

  .actions {
    bottom: unset;
    top: 12.5px;
    right: 15px;
  }
}

/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

/*form label {*/
/*  font-size: 18px;*/
/*}*/

/*div {*/
/*  margin: 0;*/
/*}*/

/*.App .lang {*/
/*  width: 200px;*/
/*}*/

/*.App .table-wrapper {*/
/*  max-height: 440px;*/
/*  overflow: auto;*/
/*}*/

/*.App thead .header {*/
/*  position: sticky;*/
/*  top: 0px;*/
/*  z-index: 1;*/
/*}*/

/*form .f-check {*/
/*  font-size: 24px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  gap: 8px;*/
/*}*/

/*form .add {*/
/*  width: 200px;*/
/*  margin-top: 10px;*/
/*}*/

/*form .hidden {*/
/*  visibility: hidden;*/
/*  width: 200px;*/
/*}*/

/*.App .m-btn {*/
/*  width: 50%;*/
/*}*/

/*@media screen and (max-width: 575px) {*/
/*  .App .m-btn {*/
/*    width: 100%;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 767px) {*/
/*  form .add {*/
/*    margin-top: 10px;*/
/*    width: 120px;*/
/*  }*/

/*  form .nameCustomer {*/
/*    margin-bottom: 10px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 575px) {*/
/*  form .f-check {*/
/*    align-items: flex-start;*/
/*    margin-bottom: 10px;*/
/*  }*/
/*  form .f-check .f-label {*/
/*    margin-left: 8px;*/
/*  }*/
/*}*/
