body {
    top: 0 !important;
}
.side-layout {
    background-color: #F8F8F8;
    height: 100vh;
    overflow-y: auto;
    padding: 50px 30px 20px 30px;
    position: relative;
}
.Side-menu {
    height: 78vh;
    overflow-y: auto;
}
.Side-menu::-webkit-scrollbar {display: none;}
.site-logo {
    text-align: center;
    padding: 20px;
}
.site-logo img {
    width: 80%;
    object-fit: cover;
}
.ant-form-item {
    margin-bottom: 8px !important;
}
.table-action {
    display: flex;
    justify-content: space-between;
}
.table-action svg {
    font-size: 22px;
}
.mobile-menu-header {
    width: 100%;
    padding: 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.mobile-menu-header img {
    width: 40%;
}
.ant-table-title {
    background-color: #FAFAFA;
}
.table-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-headers h4 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.table-btn {
    font-size: 20px;
    cursor: pointer;
}

/* STYLE GOOGLE TRANSLATE */
#google_translate_element select{
    background:#f6edfd;
    color:#383ffa;
    border: none;
    border-radius:3px;
    padding:6px 8px;
    position: absolute;
    top: 5px;
    right: 30px;
}
    
    /*google translate link | logo */
.goog-logo-link{
    display:none!important; 
    border: 1px solid red;     
}
.goog-te-gadget{
    color:transparent!important;
}
.goog-te-gadget img, a {
    display: none !important;
}



    /* google translate banner-frame */
.goog-te-banner-frame{
    display:none !important;
    border: 1px solid red;
}
body iframe {
    display: none !important;
}
#goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
.goog-text-highlight { background: none !important; box-shadow: none !important;}



@media (max-width: 768px) {
    .side-layout {
        height: calc(100vh - 60px);
        padding: 30px 10px 20px 10px;
    }
    .table-headers {
        margin-bottom: 10px;
    }
    .table-headers h4 {font-size: 20px;}
    .table-headers button{
        transform: scale(0.8);
        transform-origin: 100%;
    }
    .table-action svg {
        font-size: 18px;
    }
}

/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

/*form label {*/
/*  font-size: 18px;*/
/*}*/

/*div {*/
/*  margin: 0;*/
/*}*/

/*.App .lang {*/
/*  width: 200px;*/
/*}*/

/*.App .table-wrapper {*/
/*  max-height: 440px;*/
/*  overflow: auto;*/
/*}*/

/*.App thead .header {*/
/*  position: sticky;*/
/*  top: 0px;*/
/*  z-index: 1;*/
/*}*/

/*form .f-check {*/
/*  font-size: 24px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  gap: 8px;*/
/*}*/

/*form .add {*/
/*  width: 200px;*/
/*  margin-top: 10px;*/
/*}*/

/*form .hidden {*/
/*  visibility: hidden;*/
/*  width: 200px;*/
/*}*/

/*.App .m-btn {*/
/*  width: 50%;*/
/*}*/

/*@media screen and (max-width: 575px) {*/
/*  .App .m-btn {*/
/*    width: 100%;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 767px) {*/
/*  form .add {*/
/*    margin-top: 10px;*/
/*    width: 120px;*/
/*  }*/

/*  form .nameCustomer {*/
/*    margin-bottom: 10px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 575px) {*/
/*  form .f-check {*/
/*    align-items: flex-start;*/
/*    margin-bottom: 10px;*/
/*  }*/
/*  form .f-check .f-label {*/
/*    margin-left: 8px;*/
/*  }*/
/*}*/
